{% extends 'base.html.twig' %}

{% block body %}
	<h1>TWIG</h1>

	<a href="{{ path('app_detail_product', {id: 5, cat: 5}) }}"> Go to product</a>
	<br>

	{{ include('blog/_user_profile.html.twig',sandboxed  = true) }}

	<br>
	{{ render(controller(
        'App\\Controller\\IndexController::recentArticles', {max: 3}
    )) }}

    <br><br>

    La verbatimbalise marque les sections comme étant du texte brut qui ne doit pas être analysé. Par exemple, pour mettre la syntaxe Twig comme exemple dans un modèle, vous pouvez utiliser cet extrait :

{% verbatim %}
    <ul>
    {% for item in seq %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endverbatim %}

{% if sandbox.name is constant('NAME', sandbox
) %}
    the object sandbox name is exactly the same as Sandbox::NAME
{% endif %}

    <br><br>
    <br><br>

    <a href="{{ path('app_loop_twig') }}"> Loop Twig</a>

    <br>

    {{ path('az', {id: 5, title: "i2s"}) }}
{% endblock %}
